.App {
    width: 100%;
    display: grid;
    place-content: center;
}

.graphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
